# Ignore virtual environment folder
drug_epc_env/

# Ignore archive folder
archive/

# Ignore Excel, CSV, PNG, and PKL files anywhere in the project
data/drug_reviews/drugs*.csv 
data/epc/LICENCE.txt
data/epc/certificates.csv
data/epc/recommendations.csv
data/epc/columns.csv
data/epc/schema.json
*.xlsx
*.xls
#*.png
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings (if you use VS Code)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS and Linux system files
.DS_Store
Thumbs.db
